    <div class="row">
      <section class="main col-md-9">
        <article>
          <h2>About</h2>
          <p>environment also provides us with several other natural resources that are very important. Natural
            resources are the
            resources that environment gives us naturally without we creating it. It includes sunlight, atmosphere,
            land, water,
            plants, animals, sea life, minerals, different species and everything that occurs naturally on earth. It
            provides us
            with the resources such as fuels, metals, and most forms of energy to use.Yet we are exploiting environment
            with the
            tivities that harm environment and are overusing the resources. Human activities transform the natural
            environment in
            to human environment by constructing buildings, industries, firms and using the landscapes for the purpose
            of development.
            It is vital to use the natural resources carefully and avoid harming the nature for the healthy and
            naturally wealthy life.</p>
        </article>
      </section>
      <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra.
        </p>
      </aside>
    </div>